@import './preflight.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .modal-container {
    @apply dtw-relative dtw-flex dtw-flex-col dtw-items-center dtw-rounded-xl dtw-bg-themeDark-600 dtw-px-5 dtw-py-8;
  }

  .modal-title {
    @apply dtw-mb-6 dtw-text-lg dtw-font-semibold dtw-drop-shadow-md;
  }

  .modal-subtitle {
    @apply dtw-mt-6 dtw-text-center dtw-font-light dtw-drop-shadow-md;
  }

  .card-title {
    @apply dtw-mb-1 dtw-text-sm dtw-text-themeGray-600;
  }

  .searchbar-suffix-icon {
    @apply dtw-absolute dtw-right-1.5 dtw-top-1.5 dtw-h-6 dtw-rotate-90 dtw-text-white/60 peer-focus:dtw-text-themeGreen/70;
  }

  .theme-scrollbar::-webkit-scrollbar {
    @apply dtw-w-1 dtw-bg-transparent;
  }

  .theme-scrollbar::-webkit-scrollbar-thumb {
    @apply dtw-rounded-full dtw-bg-themeGreen-600/50;
  }

  .transparent-scrollbar::-webkit-scrollbar {
    @apply dtw-h-0 dtw-w-0 dtw-bg-transparent;
  }

  .tooltip-container[data-popper-interactive='false'] {
    @apply dtw-pointer-events-none;
  }
}
